git+https://github.com/dolfies/discord.py-self.git@bdc4542e6cf76f7e24192cce24d0676e8517c83a
discord-interactions==0.4.0
gtts==2.5.4
aiohttp==3.11.13
requests==2.32.3
tls-client==1.0.1
pillow==11.1.0
flask
colorama==0.4.6
h2>=4.3.0
h11>=0.16.0
pytz==2025.1
python-dateutil==2.9.0.post0
phonenumbers==8.13.55
deep-translator==1.11.4
langdetect==1.0.9
qrcode==8.0
blockcypher==1.0.93
aiofiles==24.1.0
pystyle==2.9
